/* variable properties */
:root {
  --bg-primary-verydark:#0F0C07;
  --bg-primary-verywhite: white;
  --bg-primary-midwhite: #c8c7c7;
  --bg-primary-dark: #3D2614;
  --bg-primary-middle: #4f311a;
  --bg-primary-light: #9f5e25;
  --bg-primary-light-2: #AA367C;
  --bg-primary-dark-2: #201357;
  --bg-primary-light-transparent: rgba(159, 94, 37, 0.7);
  --bg-primary-dark-transparent: rgba(159, 94, 37, 0.9);

  --clr-txt-veryblack: #000;
  --clr-txt-midblack: #212020;
  --clr-txt-verywhite: #fff;
  --clr-txt-midwhite: ##c8c7c7;

  --clr-bg-white: #ffffff;
  --clr-bg-lightgray: #f5f5f5;
  --clr-bg-pastelblue: #add8e6;
  --clr-bg-pastelgreen: #cfe8c5;
  --clr-bg-pastelpink: #ffdab9;
  --clr-bg-lightblue: #87CEEB;
  --clr-bg-lightgray2: #d3d3d3;
  --clr-bg-beige: #f5f5dc;
  --clr-bg-systemdefault: /* Use the default background colors */;
  --clr-bg-brand: /* Replace with your brand color */;



  --clr-btn-primary: linear-gradient(90deg, #0056b3, #007BFF);      /* Blue for primary actions */
  --clr-btn-success: linear-gradient(90deg, #218838, #28A745);     /* Green for success or positive actions */
  --clr-btn-warning: linear-gradient(90deg, #FFD42A, #FFC107);     /* Yellow for warnings or alerts */
  --clr-btn-danger: linear-gradient(90deg, #C82333, #DC3545);      /* Red for critical actions or errors */
  --clr-btn-default: #F8F9FA;                                     /* Default background color for buttons */
  --clr-btn-info: linear-gradient(90deg, #138496, #17A2B8);        /* Blue for informational actions */
  --clr-btn-secondary: linear-gradient(90deg, #5A6268, #6C757D);   /* Secondary or muted button color */
  --clr-btn-light: #F8F9FA;                                        /* Light background color for buttons */
  --clr-btn-dark: linear-gradient(90deg, #23272b, #343A40);        /* Dark background color for buttons */



  --txt-primary-clr:  #d5823a;
}
/* classes to test elements */
.border {
  border: 2px solid yellow;
}
/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {

  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--bg-primary-midwhite) !important;
  /* color: #fff !important; */
  color: var(--clr-txt-veryblack) !important;

  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: var(--bg-primary-midwhite);
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  /* color: #fff !important; */
  color: var(--clr-txt-veryblack) !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: flex;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: var(--clr-txt-veryblack);
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;

}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: var(--bg-primary-dark);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: white;
  /* background: var(--bg-primary-dark);
  box-shadow: 1px 1px 3px 2px var(--bg-primary-light),  -1px -1px 3px 2px var(--bg-primary-light); */
  box-shadow: 1px 1px 3px 2px white,  -1px -1px 3px 2px white;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
  background: var(--bg-primary-dark);

}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid var(--clr-txt-veryblack);
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid var(--clr-txt-veryblack);
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: var(--clr-txt-veryblack);
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;

}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

.consultancy-dropdown {
  position: relative;
  top: -10px;
  color: red;
  font-size: 1.25rem;
  align-items: top;
}
@media (max-width: 767px) {
  .consultancy-dropdown {
    left: 20px;
  }
  .navbar-nav *{
    margin: 5px;
  }
}


/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
/* background-image: url('./assets/img/burger-thursday.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; */
  /* background-color: red; */
  /* background-color:linear-gradient(90.21deg, var(--bg-primary-lig) -5.91%, var(--bg-primary-light) 111.58%); */
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, var(--bg-primary-light) -5.91%, var(--bg-primary-dark) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner .container {
  /* background-image: url(./assets/img/pizza-saturday.jpg); */
  background-color: white;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner .moto {
  color: var(--clr-txt-verydark);
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {

  animation: updown 14s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    /* 25% {
      transform: transleX(-20px)
    } */
    50% {
      transform: translateY(20px);
    }
    /* 75% {
      transform: translateX(20px);
    } */
    100% {
      transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #777;
}
.moto {
  font-size: 1.5rem;
  color: white;
}
/************ reviews Css ************/
.review {
  padding: 0 0 50px 0;
  position: relative;
}
.review-bx {
  background: linear-gradient(90.21deg, var(--bg-primary-dark) -5.91%, var(--bg-primary-light) 111.58%);

  --bg-primary-light-2: #
  --bg-primary-dark-2: #201357;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.review h2 {
	font-size: 45px;
	font-weight: 700;
}
.review p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.review-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* background-color: yellow; */
}

.review-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;

}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
.person img{
  border-radius: 50%;
}
.person p {
  padding: 20px;
  text-align: center;
}
/************ specials Css ************/
/* .specials {
  height: 1000px;
  width: 100%;
} */
.special {
  padding: 80px 0;
  position: relative;
  background-color: black;
}
.special-header {
  text-align: center;
}
.special h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}

.special p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.special .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.event-description-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.event-description-col {
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.event-description-col div {
  align-self: center;

  width: 100%;
}
.event-description-row div {
  width: 50%;
  padding: 5px;
  line-height: 1.5rem;
}
.underline {
  font-style: italic;
}
.transparent-color {
  background-color: white;
}
.event-container {
padding: 20px;

}
.img-blur {
  filter: blur(5px);
}

.event-container-description {
  line-height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 10px 0 0;

}
.event-container-events {
  display: grid;
  gap: 2px;
  justify-items: center;
  color: var(--txt-primary-clr);
  text-shadow: d;
}
.special .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.special .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.special .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: linear-gradient(90.21deg, var(--bg-primary-light) -5.91%, var(--bg-primary-dark) 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.special .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.special .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
}

.nav-link#specials-tabs-tab-first, .nav-link#specials-tabs-tab-second, .nav-link#specials-tabs-tab-third,
.nav-link#specials-tabs-tab-fourth,.nav-link#specials-tabs-tab-fifth, .nav-link#specials-tabs-tab-sixth,
.nav-link#specials-tabs-tab-seventh
{
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 160px;
  height: 200px;
  margin: 10px;
}
.nav-link#specials-tabs-tab-first, .nav-link#specials-tabs-tab-second, .nav-link#specials-tabs-tab-third,
.nav-link#specials-tabs-tab-fourth,.nav-link#specials-tabs-tab-fifth, .nav-link#specials-tabs-tab-sixth,
.nav-link#specials-tabs-tab-seventh{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(1px);
}
.nav-link#specials-tabs-tab-first:hover, .nav-link#specials-tabs-tab-second:hover, .nav-link#specials-tabs-tab-third:hover,
.nav-link#specials-tabs-tab-fourth:hover,.nav-link#specials-tabs-tab-fifth:hover, .nav-link#specials-tabs-tab-sixth:hover,
.nav-link#specials-tabs-tab-seventh:hover {
  box-shadow: 1px 1px 3px 2px rgb(195, 147, 101),  -1px -1px 3px 2px rgb(195, 147, 101);
  filter: blur(0px);
}
.nav-link#specials-tabs-tab-first
{
  background-image: url('./assets/img/burger-monday.jpeg');
}
.nav-link#specials-tabs-tab-second
{
  background-image: url('./assets/img/pizza-tuesday.jpg');
}
.nav-link#specials-tabs-tab-third
{
  background-image: url('./assets/img/burger-wedensday.jpg');
}
.nav-link#specials-tabs-tab-fourth
{
  background-image: url('./assets/img/burger-thursday.jpg');
}
.nav-link#specials-tabs-tab-fifth
{
  background-image: url('./assets/img/burger-friday.jpeg');
}
.nav-link#specials-tabs-tab-sixth{
  background-image: url('./assets/img/pizza-saturday.jpg');
}
.nav-link#specials-tabs-tab-seventh
{
  background-image: url('./assets/img/pizza-tuesday.jpg');
}
.special-nav-item {
  position: relative;
  /* border: 2px solid red; */
  background-color: linear-gradient(90.21deg, var(--bg-primary-light) -5.91%, var(--bg-primary-dark) 111.58%);
  margin: 0;

}
.event-description-2 {
  display: none;
}
.event-description {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 89.2%;
  border-radius: 0 0 5px 5px;
  background-color: var(--bg-primary-light-transparent);

  /* margin-left: 30px; */
}

[id*="specials-tabs-tab-"]:hover + .event-description {
  width: 93%;
  top: 90%;
  background-color: var(--bg-primary-dark-transparent);
}

.event-description:hover img {
  filter: blur(0px);
}
@media (max-width: 767px) {
  .nav-link#specials-tabs-tab-first, .nav-link#specials-tabs-tab-second, .nav-link#specials-tabs-tab-third,
.nav-link#specials-tabs-tab-fourth,.nav-link#specials-tabs-tab-fifth, .nav-link#specials-tabs-tab-sixth,
.nav-link#specials-tabs-tab-seventh
{
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 150px;
  height: 100px;
  margin: 5px;
  font-size: 1rem;
  color: black;
  filter: blur(0.04rem);
}
.nav-link#specials-tabs-tab-first:hover, .nav-link#specials-tabs-tab-second:hover, .nav-link#specials-tabs-tab-third:hover,
.nav-link#specials-tabs-tab-fourth:hover,.nav-link#specials-tabs-tab-fifth:hover, .nav-link#specials-tabs-tab-sixth:hover,
.nav-link#specials-tabs-tab-seventh:hover {
  box-shadow: 1px 1px 3px 2px rgb(64, 0, 255),  -1px -1px 3px 2px rgb(245, 68, 4);
  background: var(--bg-primary-light);
}
/* .nav-link#specials-tabs-tab-first:hover, .nav-link#specials-tabs-tab-second:hover, .nav-link#specials-tabs-tab-third:hover,
.nav-link#specials-tabs-tab-fourth:hover,.nav-link#specials-tabs-tab-fifth:hover, .nav-link#specials-tabs-tab-sixth:hover, */
[id*="specials-tabs-tab-"]:hover .event-description-2{
  background-color: white;
  padding: 2px;
}
/* .nav-link#specials-tabs-tab-first:hover .event-description-2{
  background-color: white;
  padding: 2px;
}
.nav-link#specials-tabs-tab-second:hover .event-description-2{
  background-color: white;
  padding: 2px;
}
.nav-link#specials-tabs-tab-third:hover .event-description-2{
  background-color: white;
  padding: 2px;
}
.nav-link#specials-tabs-tab-fourth:hover .event-description-2{
  background-color: white;
  padding: 2px;
}
.nav-link#specials-tabs-tab-fifth:hover .event-description-2{
  background-color: white;
  padding: 2px;
}
.nav-link#specials-tabs-tab-sixth:hover .event-description-2{
  background-color: white;
  padding: 2px;
}
.nav-link#specials-tabs-tab-seventh:hover .event-description-2{
  background-color: white;
  padding: 2px;
} */

.event-description {
  display: none;
}
.event-description-2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -62%);
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 85%;
  z-index: 1;
  border-radius: 5px 5px 5px 5px;
  background-color: var(--bg-primary-light-transparent);
  /* margin-left: 30px; */
}
}
.nav-link
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
/* .proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
} */
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/************ Contact Css ************/
.contact {
  background: linear-gradient(90.21deg, var(--bg-primary-middle) -5.91%, var(--bg-primary-dark) 111.58%);
  padding: 60px 0 200px 0;
  width: auto;
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.9;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.1s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: var(--bg-primary-dark);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
  box-shadow: 1px 1px 3px 2px var(--bg-primary-light),  -1px -1px 3px 2px var(--bg-primary-light);
}
/************ Posts ************/
.accordion-container {
  background-color: var(--clr-bg-lightgray);
  margin: 10px;
  padding: 20px;
}
.post-container {
  background-color: var(--clr-bg-lightgray2);
}
.post-header {
  display: flex;
  gap: 20px;
}
.post-content {
  background-color: var(--clr-bg-lightgray2);
  min-height: 40px;
  padding: 30px;
  font-size: 1.25rem;
}
.comment-footer {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.comment-body {
  padding: 10px;
  background-color: var(--clr-bg-lightblue);
  min-height: 40px;
}
.comment-container {
  background-color: var(--clr-bg-pastelblue);
}
.comment-button{
  margin: 5px;
  background-color: var(--clr-bg-lightblue);
  border-radius: 1px;
  width: max-content;
  padding: 5px;
  box-shadow: 1px 1px 3px 1px var(--bg-primary-verydark);
  transition: all 1s;
}
.comment-button:hover {
  background-color: var(--clr-bg-pastelblue);
}
.comment-textarea {

  min-height: 40px;
  width: 100%;
}
/************ Footer Css ************/
.footer {
  padding: 0 0 50px 0;
  background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter-bx {
  background: #FFFFFF;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
